body{
    background-color: black; /*black for distinction while developing, TODO: similiar to conatiner*/
}
#container {
    width: 90vw;
    height: 90vh;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    touch-action: none;
}

.wrapper {
    display: flex;
    justify-content: flex-start;
    position: relative;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}

.wrapper span{
    background-color: rgb(245, 230, 99);
}

.wrapper:hover{
    cursor: pointer;
    border-width: 0.2vw;
}

.wrapper:hover > .skillNode{
    cursor: pointer;
    border-width: 0.2vw;
}

.wrapper:hover > span{
    cursor: pointer;
    border-width: 0.2vw;
}

.wrapper:active > .skillNode{
    background-color: rgba(168, 218, 220, 1.00);
}

.wrapper:active > span{
    background-color: rgba(168, 218, 220, 1.00);
}

.skillNode {
    text-align: center;
    position: relative;
    width: 50px;
    height: 50px;
    background-color: rgb(245, 230, 99);
    border: 0.1vw solid rgba(136, 136, 136, .5);
    border-radius: 50%;
    touch-action: none;
    user-select: none;
    z-index: 0;
}

.skillNode::before{
    display: inline-block;
    height: 100%;
    content: '';
}

.skill{
    position: relative;
    color: white;
}

.couplingRod{
    stroke-width: 0.05vh;
    stroke-linecap: square;
    stroke: rgb(245, 230, 99)
}

.textBox{
    position: absolute;
    background-color: beige;
    color: black;
    width: 150px;
}

#svg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }