body{
    background-color: black; /*black for distinction while developing, TODO: similiar to conatiner*/
}
#container {
    width: 90vw;
    height: 90vh;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    touch-action: none;
}

.skillNode {
    
    position: relative;
    width: 50px;
    height: 50px;
    background-color: rgb(245, 230, 99);
    border: 0.1vw solid rgba(136, 136, 136, .5);
    border-radius: 50%;
    touch-action: none;
    user-select: none;
    z-index: 5;
}

.skillNode:active {
    background-color: rgba(168, 218, 220, 1.00);
}

.skillNode:hover {
    cursor: pointer;
    border-width: 0.2vw;
}

.skill{
    position: relative;
    color: white;
    width: 150px;
    height: 50px;
}

.couplingRod{
    stroke-width: 0.05vh;
    stroke-linecap: square;
    stroke: rgb(245, 230, 99)
}

#svg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }